<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} - tt小家</title>
</head>
<body>

{{template "page_header"}}

<!-- Page content starts -->
<div>
    <h2>Articles {{if .IsLogin}} <a class="pull-left" href="/editArticle?isNew=true" style="text-decoration: none"> + </a> {{end}}</h2>
    {{range .Articles}}
        <a href="/readArticle?id={{.ID}}">
            <h4 >{{.Title}}</h4>
        </a>
    {{end}} <!-- range -->
    <div style="text-align: center">
        {{if .IsFirstPage}}
        <a disabled="true"><-</a>
        {{else}}
        <a href="/article?pageNum={{.PrevPage}}"><-</a>
        {{end}}
        <a disabled="true">{{.PageNum}} / {{.NumPage}}</a>
        {{if .IsLastPage}}
            <a disabled="true">-></a>
        {{else}}
            <a href="/article?pageNum={{.NextPage}}">-></a>
        {{end}}
    </div>
</div>

<!-- Page content ends -->

</body>
{{template "page_footer"}}
</html>
