<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} - tt小家</title>
</head>
<body>

{{template "page_header"}}

<!-- Page content starts -->
<div>
    <h2>Articles</h2>
</div>

<div>
    <h2>Album</h2>
</div>

<div>
    <h2>Vedios</h2>
</div>
<!-- Page content ends -->

</body>
{{template "page_footer"}}
</html>
