<!DOCTYPE html>
<html lang="en">
{{template "icon"}}
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} - tt小家</title>
</head>
<body>

{{template "page_header"}}

<!-- Page content starts -->
<div>
    <h2>Articles</h2>
    {{range .Articles}}
        <a href="/readArticle?id={{.ID}}" style="text-decoration:none">
            <h4 ><{{.Title}}></h4>
        </a>
    {{end}} <!-- range -->
    <a href="/article?pageNum=1">
        <h6>more...</h6>
    </a>
</div>

<div>
    <h2>Album</h2>
</div>

<div>
    <h2>Vedios</h2>
</div>
<!-- Page content ends -->

</body>
{{template "page_footer"}}
</html>
