{{define "page_header"}}
<div style="text-align:center">
    <h1>YaPB: Yet another Personal Blog</h1>
    <p>1<sup>st</sup> Yuting Xie, 1<sup>+</sup> Leyan Li, 2<sup>nd</sup> Cuda</p>
    <p style="font-weight:bold">In this website, we present a personal blog, which outperforms any other SoTA blog.</p>
</div>
{{end}}