<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} - tt小家</title>
</head>
<body>

{{template "page_header"}}

<!-- Page content starts -->

<!-- For MarkDown -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/static/js/marked.js"></script>
<script src="/static/js/ace/ace.js"></script>
<link href="/static/css/markdown.css" rel="stylesheet" />

<div style="text-align: center">
    <h2>{{.Title}}</h2>
    {{if .IsLogin}}
        <a href="javascript:void(0)" onclick="deleteArticle()" style="text-decoration: none"> - </a>
        <a href="/editArticle?isNew=no&id={{.Id}}" style="text-decoration: none"> ~ </a>
    {{end}}
</div>

<div>
    <!-- Article content displayed in .md -->
    <div id="mdcontent" class="markdown-body"></div>
    <script>
        $("#mdcontent").html(marked({{.Content}}));
    </script>
</div>

<script>
    function deleteArticle() {
        $.ajax({
            type: "GET",
            // dataType: "json",
            url: "/deleteArticle?id={{.Id}}",
            // contentType: "application/json",
            // data:JSON.stringify({
            //    "id": "{{.Id}}",
            // }),
            success: function (result_json) {
                if (result_json.status === 0) {
                    alert("Article deleted");
                } else {
                    alert("Failed to request article delete");
                }
                window.location.href = "/article";
            },
            error: function (result) {
                console.log("fail:" + result)
            }
        });
    }
</script>

<!-- Page content ends -->

</body>
{{template "page_footer"}}
</html>
