{{define "404.html"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404-tt小家</title>

    <!-- 公益404 -->
    <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8"></script>
</head>
<body>

</body>

<footer class="footer" style="padding-top: 30pt; padding-bottom: 30pt">
    <div class="container">
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>Powered by <a href="https://github.com/gin-gonic/gin" target="_blank">Gin</a> and <a href="https://www.bootcss.com" target="_blank">Bootstrap</a></li>
                <li>Contact : xytxytxyt@hotmail.com</li>
            </ul>
        </div>
    </div>
</footer>
</html>

{{end}}