{{define "home.html"}}
<!DOCTYPE html>
<html>
<!-- 网页图标和书签图标 -->
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
<link rel="bookmark"href="/static/img/favicon.ico" type="image/x-icon"/>
<head>
    <!-- 页面背景颜色 -->
    <style type="text/css">
        .body {background-color: #ffffff;
            background-size:100%;
        }
    </style>

    <title>tt小家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class = "body" style="padding-top: 30pt;">
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- 包括所有已编译的插件 -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- 以下部分需要写在引入bootstrap样式的后面-->
    <style type="text/css">
        a{color: #151414;}
        a:link{color: #725353
        }
        a:hover{color: #c49393
        }
        .img-circle{
            height: 140px;
            width: 140px;
        }
    </style>

    <!-- todo: 头版巨幕 -->
    <h1 class="text-center">为什么？为什么？为什么我这么帅！</h1>

    <!-- 导航栏 -->
    <div class = "container-fluid" style="padding-top: 30pt">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/article?pageNum=1">Article</a></li>
            <li role="presentation"><a href="#album-div">Album</a></li>
            <li role="presentation"><a href="#link-div">Funny Things</a></li>
        </ul>
    </div>

    <!-- 左分类列表3 右文章列表9-->
    <div class = "container-fluid" style="padding-top: 30pt">

        <!-- 左分类列表 pc占3 移动端占满12列-->
        <div class="list-group col-md-3 col-12">
            <h4 style="text-align: center"><strong>Categories</strong></h4>
            {{range .Categories}}
            <a href="#" class="list-group-item disabled">{{.Name}}</a>
            {{end}} <!-- range .Categories-->
        </div>


        <!-- 右文章列表 pc9 移动端12-->
        <div class="list-group col-md-9 col-12">
            <h4 style="text-align: center"><strong>Trends</strong></h4>
            {{range .Articles}}
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{.Title}}</h4>
                <p class="list-group-item-text">{{.Preview}}...</p>
            </a>
            {{end}}
        </div>


    </div>

    <!-- 分割线 -->
    <div class="container-fluid" style="padding-top: 10pt">
        <h6 style="text-align: center">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>
    </div>

    <!-- funny things-->
    <div class = "container-fluid" style="padding-top: 30pt">
        <h3 style="text-align: center">Funny works of mine</h3>
        <div class="center-block">
            <a class="col-md-3 col-6" style="text-align: center"> LikeCam</a>
            <a class="col-md-3 col-6" style="text-align: center"> TuTu</a>
            <a class="col-md-3 col-6" style="text-align: center"> 禾谷科技</a>
            <a class="col-md-3 col-6" style="text-align: center"> Other</a>
        </div>
    </div>

    <!-- 友情链接-->
    <div id="link-div" class = "container-fluid " style="padding-top: 30pt">
        <h3 style="text-align: center">Funny works of my fren</h3>
        <div class="center-block">
            <a class="col-md-3 col-6" style="text-align: center"> LikeCam</a>
            <a class="col-md-3 col-6" style="text-align: center"> TuTu</a>
            <a class="col-md-3 col-6" style="text-align: center"> 禾谷科技</a>
            <a class="col-md-3 col-6" style="text-align: center"> Other</a>
        </div>
    </div>

    <!-- 照片墙 -->
    <div id = "album-div" class = "container-fluid " style="padding-top: 30pt">
        <h3 style="text-align: center">We</h3>
        <img src="/static/img/1.jpg" class="img-circle center-block">
    </div>


</body>
<footer class="footer" style="padding-top: 30pt; padding-bottom: 30pt">
    <div class="container">
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>Powered by <a href="https://github.com/gin-gonic/gin" target="_blank">Gin</a> and <a href="https://www.bootcss.com" target="_blank">Bootstrap</a></li>
                <li>Contact : xyt@bupt.cn</li>
            </ul>
        </div>
    </div>
</footer>

</html>

{{end}}