{{define "readArticle.html"}}

<!DOCTYPE html>
<html>
<head>
    <!-- 页面背景颜色 -->
    <style type="text/css">
        .body {background-color: #cba8b8;
            background-size:100%;
        }
        .active {background-color: #720f92;
            background-size:100%;
        }
        #mdcontent{
            height: 100%;
            width: 100%;
        }
    </style>

    <title>tt小家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class = "body" style="padding-top: 30pt;">
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- 用于MD -->
<script src="/static/js/marked.js"></script>
<script src="/static/js/ace/ace.js"></script>
<link href="/static/css/markdown.css" rel="stylesheet" />

<!-- todo: 头版巨幕 -->
<h1 class="text-center">为什么？为什么？为什么我这么帅！</h1>

<!-- 导航栏 -->
<div class = "container-fluid" style="padding-top: 30pt">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/home">Home</a></li>
        <li role="presentation" class="active"><a href="#">Article</a></li>
        <li role="presentation"><a href="#">Album</a></li>
        <li role="presentation"><a href="#">Funny Things</a></li>
    </ul>
</div>

<!-- 左分类列表3 右文章正文9-->
<div class = "container-fluid" style="padding-top: 30pt">

    <!-- 左分类列表 pc占3 移动端占满12列-->
    <div class="list-group col-md-3 col-12">
        <h4 style="text-align: center"><strong>文章分类</strong></h4>
        <a href="#" class="list-group-item disabled">
            C++
        </a>
        <a href="#" class="list-group-item">Go</a>
        <a href="#" class="list-group-item">前端</a>
        <a href="#" class="list-group-item">算法数据结构</a>
        <a href="#" class="list-group-item">其他</a>
    </div>


    <!-- 右文章正文 pc9 移动端12-->
    <div class="container-fluid col-md-9 col-12">
        <h4>
            <strong>文章标题: {{.Title}}</strong>
            <a class="pull-right" href="/editArticle?isNew=no&id={{.Id}}">编辑</a>
        </h4>
        <div class = "container-fluid">
            <!-- 文章正文内容 md显示-->
            <div id="mdcontent" class="markdown-body"></div>
            <script>
                $("#mdcontent").html(marked({{.Content}}));
            </script>
        </div>
    </div>

</div>

<!-- 分割线 -->
<div class="container-fluid" style="padding-top: 10pt">
    <h6 style="text-align: center">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>
</div>

<!-- funny things-->
<div class = "container-fluid" style="padding-top: 30pt">
    <h3 style="text-align: center">Funny works of mine</h3>
    <div class="center-block">
        <a class="col-md-3 col-6" style="text-align: center"> LikeCam</a>
        <a class="col-md-3 col-6" style="text-align: center"> TuTu</a>
        <a class="col-md-3 col-6" style="text-align: center"> 禾谷科技</a>
        <a class="col-md-3 col-6" style="text-align: center"> Other</a>
    </div>
</div>

<!-- 友情链接-->
<div class = "container-fluid " style="padding-top: 30pt">
    <h3 style="text-align: center">Funny works of my fren</h3>
    <div class="center-block">
        <a class="col-md-3 col-6" style="text-align: center"> LikeCam</a>
        <a class="col-md-3 col-6" style="text-align: center"> TuTu</a>
        <a class="col-md-3 col-6" style="text-align: center"> 禾谷科技</a>
        <a class="col-md-3 col-6" style="text-align: center"> Other</a>
    </div>
</div>

</body>
<footer class="footer" style="padding-top: 30pt; padding-bottom: 30pt">
    <div class="container">
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>Powered by <a href="https://github.com/gin-gonic/gin" target="_blank">Gin</a> and <a href="https://www.bootcss.com" target="_blank">Bootstrap</a></li>
                <li>Contact : xytxytxyt@hotmail.com</li>
            </ul>
        </div>
    </div>
</footer>

</html>

{{end}}